*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
src/main/res/layout/articleList/
src/main/res/layout/articlesList/
/app/src/main/assets/users.properties
